@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: aliceblue;
}

/* Header Design */
.header{
    height: 50%;
    width: 100%;
    background-image: url("bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.header nav{
    padding-top: 1vmax;
    margin-left: 2vmax;
    margin-right: 2vmax;
    display: flex;
   justify-content: space-between;
}

.header nav ul{
    display: flex;
    gap: 15vmax;
}

.header h1{
    color: aliceblue;
}

.list-item li{
    list-style-type: none;
}

.link{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}

.details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.details h3{
    color: white;
    font-size: x-large;
}

.details button{
    display: inline-block;
    margin-left: 3.3rem;
    margin-top: 0.5rem;
    padding: 0.45rem 1rem;
    cursor: pointer;
    font-weight: 600;
    font-size: larger;
    border: none;
    outline: none;
    border-radius: 5px;
}

.details button:hover{
    background-color: aqua;
    color: gray;
}

/* Main Design */
main{
    width: 100%;
    margin-bottom: 3vmax;
}
.todo-section{
    width: 80%;
    height: 400px;
    overflow-y: auto;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;  
}

.todo-section h2{
    text-align: center;
}

.todo-section input{
    display: inline-block;
    padding: 0.5rem;
    width: 70%;
    height: 2.3rem;
}

.remove-all, .add-todo-btn{
    display: inline-block;
    padding: 0.6vmax 2vmax;
    margin-left: 0.7rem;
    background-color: rgb(73, 64, 64);
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.todo-details{
    background-color: rgb(73, 64, 64);
    width: 100%;
    padding: 1vmax;
    color: white;
    margin-top: 2vmax;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
}

.todo-details h3{
   max-width: 100%;
   word-wrap: break-word;
}

.todo-details button{
    margin-top: 0.4vmax;
}

.todo-empty{
    background-color: rgb(149, 230, 68);
    color: rebeccapurple;
    margin-top: 1rem;
    height: 4vmax;
    width: 100%;
    position: relative;
} 

.todo-empty h4{
   position: absolute; 
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}

.pending{
    display: none;
}

.remove, .done, .undo{
    padding: 0.6vmax 2vmax;
    margin-left: 0.7rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    float: right;
    border: none;
    outline: none;
    border-radius: 10px;
}

.todo-section span{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}

.remove-all{
    display: none;
    margin-top: 1vmax;
    border-radius: 10px;
}

.form-section{
    background-color: rgb(211, 202, 191);
    border-radius: 10px;
    width: 82%;
   padding-top: 0.5vmax;
    padding-bottom: 1vmax;
    margin-left: auto;
    margin-right: auto;
}

.form-section h2{
    text-align: center;
}

.form-section input{
    display: block;
    padding: 0.5rem;
    width: 60%;
    margin: 0.1rem auto 1.5rem auto;
    height: 2.5rem;
}

label{
    margin-left: 20%;
    font-size: large;
}

textarea{
    display: block;
    width: 60%;
    height: 10rem;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.form-section button{
    display: block;
    border: none;
    outline: none;
    height: 2.5rem;
    width: 5.5rem;
    margin: 1.5rem auto;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(73, 64, 64);
    color: white;
}

::placeholder{
    padding-left: 0.4rem;
}

footer{
    width: 100%;
    padding-bottom: 0.2vmax;
    height: 3.5vmax;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer p{
    color: white;
    font-size: 1.7vmax;
    font-weight: 500;
}

 @media (max-width : 600px){
    .form-section{
        width: 100%;
        border-radius: 0;
    }
    .form-section h2{
        margin-bottom: 2vmax;
       padding-top: 2vmax;
    }

    .header nav{
        flex-direction: column;
    }

    .header nav ul{
        flex-direction: column;
        gap: 0;
    }
    .details button{
        padding: 0.8vmax 1.4vmax;
    }
    .details{
        width: 80%;
        transform: translate(0%, 0%);
        left: 20%;
        top: 50%;
    }
    .todo-section{
        width: 100%;
        padding: 0 2vmax;
    }
    .todo-section input{
       width: 100%;
    }
    .add-todo-btn, .remove-all{
        margin-top: 1.5vmax;
    }
    .todo-empty h4{
        text-align: center;
        width: 100%;
    }
    .form-section{
        padding: 2vmax;
    }
    .form-section input{
        width: 100%;
    }
    .form-section textarea{
        width: 100%;
    }
    label{
        margin-left: 0;
    }
}
